*{
    padding: 0;
    margin: 0;

}
body{
    height: 100vh;

    background-color: black;
}
.headerNav{
    background-color: black;
    display: flex;
   justify-content: space-around;
   border-bottom: 1px solid #00b300;
   align-items: center;
   position: sticky;
}
.navigationHeader{
    color:grey;
    margin: 1rem;
}

.navigationHeader ul {

    padding-left:100px;
}
.navigationHeader ul li {
    display: inline-block;
    list-style: none;
    padding-left:100px;
    margin: auto;
}
a{
    text-decoration: none;
    color:grey;
}
li a:hover{
    color: white;
}
.cartIcon:hover, .SearchIcon:hover{
    color: aliceblue;}
    /*LANDING*/
video{
    width: 99vw;
}
header{
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items:center;
}
header h1{
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #00b300;
}
h2{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
p{
   

}
img.aboutUsPics{
width: 99vw;

}
.description-text{
    text-align: center;
    margin: 0 auto;
    width: 60vw;
    padding: 2rem;
    color: #979191;
    font-size: 1.2rem;
    font-weight:400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar{
    display: none;
}
.image-text{
    position: relative;
    margin: 20px;
    border-radius: 10px;
}
.image-text img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .overlay {
    position: absolute;
    top: 20%;
    right: 70%;
    padding: 2rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight:400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
 .missionVision{
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #047904;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 1)
 }
 /*FOOTER*/
footer , footer p{
    background-color: rgb(35, 35, 36);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .column {
    flex: 1;
  }
  
  .column p {
    margin: 0;
  }
  
  .copyright {
    margin-top: 20px;
    text-align: center;
  }