*{
  padding: 0;
  margin: 0;

}
body{
  height: 100vh;
  background-color: black;
}
.headerNav{
  background-color: black;
  display: flex;
 justify-content: space-around;
 border-bottom: 1px solid #00b300;
 align-items: center;
 position: sticky;
}
.navigationHeader{
  color:grey;
  margin: 1rem;
}

.navigationHeader ul {

  padding-left:100px;
}
.navigationHeader ul li {
  display: inline-block;
  list-style: none;
  padding-left:100px;
  margin: auto;
}
a{
  text-decoration: none;
  color:grey;
}
li a:hover{
  color: white;
}
.cartIcon:hover, .SearchIcon:hover{
  color: aliceblue;
}
  /*LANDING*/
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #00b300;
  margin: 2rem

}
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-info h2{
  color: aliceblue;

}
.contact-info p {
  color: #6b6d6b;
}
.contact-form h2{

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #00b300;
  margin: 2rem
}
.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
label{
  color: #6b6d6b;
  margin:1rem;
  font-family: inherit;
  

}
input{
  width: 15%;
}
textarea{
  width: 15%;
  height: 30vh;
}
button{
  margin:1rem;

}
button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
/*FOOTER*/
footer , footer p{
  background-color: rgb(35, 35, 36);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex: 1;
}

.column p {
  margin: 0;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}
