*{
    padding: 0;
    margin: 0;
    background-color: black;
}
body{
    height: 100vh;
}
.headerNav{
    background-color: black;
    display: flex;
   justify-content: space-around;
   border-bottom: 1px solid #00b300;
   align-items: center;
   position: sticky;
}
.navigationHeader{
    color:grey;
    margin: 1rem;


}
.navigationHeader ul {

    padding-left:100px;
}
.navigationHeader ul li {
    display: inline-block;
    list-style: none;
    padding-left:100px;
}
a{
    text-decoration: none;
    color:grey;
}
li a:hover{
    color: white;
}
.cartIcon:hover, .SearchIcon:hover{
    color: aliceblue;
}
/* CAROUSEL*/
.product{

    position: relative;
    overflow: hidden;
    padding: 3rem;
}
.hotDeals{
    padding: 0 10vw;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
}
.productContainer{
    padding: 0 10vw;
    display:flex;
    overflow-x: auto ;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 90vh;
    margin-bottom: 0;
}
::-webkit-scrollbar{
    display: none ;
}
.productCard{
    flex: 0 0 auto;
    width: 300px;
    height:450px ;
    margin-right: 40px;
}
.productImage{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.productThumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productInfo h2, .productInfo p{
    color: #fff;
}
.discountTag{
    position: absolute;
    background-color: #00b300;
    padding: .5rem;
    color: white;
    text-shadow: 1px 1px black;
}
.cardBtn{
    position: absolute;
    bottom: 10px;
    color: aliceblue;
    text-shadow: 1px 1px black;
    left:50%;
    transform: translate(-50%);
    padding: .1rem;
    width: 90%;
    border: none;
    outline:none;
    background:#00b300;
    transition: .5s;
    cursor: pointer;
    opacity: 0;

}
.cardBtn:hover{
    opacity: 1;
}
.productInfo{
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.productDescription{
    width: 100%;
    height: 100%;
    line-height: 20px;
    opacity: .5;
    margin: 5px 0;

}
.price{
    font-weight: bold;
    font-size: 1rem;
}
.pre-btn, .next-btn{
    border: none;
    width: 10vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255,0) 0% #fff
    100%);
    cursor: pointer;
    z-index: 9;
}
/*CARDS*/
.cards{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: .3rem;
    padding: 1rem;
    place-items: center;
    margin-top: 0;
    


}
   

.details{
    background-color: rgb(35, 35, 36);
    max-width: 400px;
    height:300px ;

}
.container p, .container h3{
    background-color: rgb(35, 35, 36);
    margin: 10;
    padding: 1rem;
    color: grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container h3{
    color: #fff;
    text-transform: capitalize;
}

/*SLIDER*/
.sliderContainer{
    padding: 2rem;
    

}
.slider-wrapper{
position: relative;
max-width: 80vw;
margin: 0 auto;
}
.slider{
display: flex;

overflow-x: auto;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
box-shadow: 0 1.5 rem 3rem -.75rem hsla(0, 0%, 0%, .30);
border-radius: .5rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
}
/*FOOTER*/
footer , footer p{
    background-color: rgb(35, 35, 36);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .column {
    flex: 1;
  }
  
  .column p {
    margin: 0;
  }
  
  .copyright {
    margin-top: 20px;
    text-align: center;
  }
  